.message-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: calc(100vw - 410px - 70px);
}

.workspace-menssage {
    flex: 1;
    display: flex;
    flex-direction: column;
    
}

.messages-list {
    flex: 1;
    overflow-y: auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.message-input-container {
    flex-shrink: 0;
    padding: 10px;
    background-color: #1a1a1a;
}

.message-buble {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: fit-content;
    font-size: 15px;
    color: #b4b4b4;
    background-color: #222529;
    padding: 8px 8px;
    border-radius: 6px;
}

.my-message {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    width: fit-content;
    font-size: 15px;
    color: #b4b4b4;
    background-color: #222529;
    padding: 8px 8px;
    border-radius: 6px;
}

.other-message {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    width: fit-content;
    font-size: 15px;
    color: #b4b4b4;
    background-color: #532753;
    padding: 8px 8px;
    border-radius: 6px;
}


.message_top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
    color: white;
    margin-bottom: 4px;
    width: 100%;
}

.text_name_user {
    font-weight: 800;
    font-size: 15px;
    margin-right: 4px;
}

.text_hour {
    font-size: 10px;
}

.text_secondary {
    flex: 1;
    display: flex;
    font-size: 15px;
    color: #b4b4b4;
    margin-top: 4px;
    padding: 10px;
}

.message-header {
    display: flex;
    flex-direction: row;
    height: 85px;
    border-bottom: #999595 solid 1px;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
    color: white;
    padding: 10px;
    width: 100%;
    position: sticky;
    top: 0;
    background-color: #1a1a1a;
    z-index: 10;
}

.header-left {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

.header-right {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

.icon-especial {
    display: none;
    width: 40px;
    height: 40px;
    background: none;
    border: none;
}

@media (max-width: 1020px) {
    .message-container {
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;

    }

    .workspace-menssage.show-mobile {
        flex: 1;
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    .messages-list {
        flex: 1;
        overflow-y: auto;
        padding: 10px;
        display: flex;
        flex-direction: column;
        gap: 10px;

    }

    .message-input-container {
        flex-shrink: 0;
        padding: 10px;
        background-color: #1a1a1a;
    }

    .icon-especial {
        display: block;
    }
}