.message-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: calc(100vw - 410px - 70px);
}

.messages-list {
    flex: 1;
    overflow-y: auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.message-buble {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: fit-content;
    font-size: 15px;
    color: #b4b4b4;
    background-color: #222529;
    padding: 8px 8px;
    border-radius: 6px;

}


.message_top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
    color: white;
    margin-bottom: 4px;
    width: 100%;
}

.text_name_user {
    font-weight: 800;
    font-size: 15px;
    margin-right: 4px;
}

.text_hour {
    font-size: 10px;
}

.text_secondary {
    flex: 1;
    display: flex;
    font-size: 15px;
    color: #b4b4b4;
    margin-top: 4px;
    padding: 10px;
}

