.workspace-layout{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100vh;
    background-color: #1a1d21;
}

.workspace-icons{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 70px;
    height: 100vh;
    background-color: #3c1142;
}

.workspace-icons__top{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: white;
    margin-top: 20px;
    margin-bottom: 20px;
}

.workspace-icons__bottom{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: white;
    margin-bottom: 20px;
}
.icon{
    width: 30px;
    height: 30px;
    margin-bottom: 20px;
}


