.workspace-layout {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100vh;
    background-color: #1a1d21;
}

.workspace-icons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 70px;
    height: 100vh;
    background-color: #3c1142;
}

.workspace-icons__top {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: white;
    margin-top: 20px;
    gap: 12px;
}

.workspace-icons__bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: white;
    margin-bottom: 20px;
    gap: 12px;
}

.icon {
    width: 20px;
    height: 20px;
}

.nav-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 8px;
    border-radius: 50px;
    color: #b4b4b4;
    transition: background-color 0.2s ease, color 0.2s ease;
}

.nav-icon:hover {
    background-color:#533056;
    cursor: pointer;
}

.nav-icon.active {
    background-color: #611f69;
    color: #fff;

}
.text-small{
    text-align: center;
    align-items: center;
    font-size: 11px;
    font-weight: 700;
    color: #b4b4b4;
    line-height: 1;
}