.channel-layout {
  display: flex;
  flex-direction: column;
  width: 410px;
  height: 100vh;
  background-color: #221126;
}

.channel-layout__header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: white;
  margin: 20px 20px 20px 20px;
  font-size: 20px;
  font-weight: 600;
}

.channel_icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  color: white;
  margin: 20px 20px 20px 20px;
  font-size: 20px;
  font-weight: 600;
}

.search {
  background-color: #532753;
  color: #fff;
  border: none;
  outline: none;
  padding: 8px 14px;
  border-radius: 8px;
  font-size: 0.9rem;
  font-weight: 500;
  width: 370px;
  display: flex;
  align-items: center;
  cursor: text;
  transition: background-color 0.2s, box-shadow 0.2s;
  margin-left: 20px;
  margin-right: 20px
}

.search:hover {
  background-color: #5c2d5d;
}

.search:focus-within {
  background-color: #6b3570;
  box-shadow: 0 0 0 2px #ddd;
}

.search input::placeholder {
  color: #ddd;
  font-weight: 400;
  opacity: 0.8;
}

.channel-layout__title {
  color: #ddd;
  margin: 20px 20px 10px 20px;
  font-size: 20px;
  font-weight: 600;
}

.loading {
  color: white;
  margin: 20px 20px 20px 20px;
}

@media (max-width: 1020px) {

  /* El contenedor completo ocupa todo */
  .channel-layout {
    width: 100% !important;
    height: calc(100vh - 60px) !important; 
    padding: 16px !important;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    overflow-x: hidden;
  }

  .channel-layout__header {
    width: 100%;
    flex-shrink: 0;
  }

  .channel-layout .search {
    width: 100% !important;
    margin-top: 12px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 12px;
  }

  .channel-layout__title {
    width: 100% !important;
    margin-top: 20px;
  }

  .channel-layout ul,
  .channel-layout .channel-list,
  .channel-layout > * {
    width: 100% !important;
    max-width: 100% !important;
    box-sizing: border-box;
  }
}