html, body, #root {
    height: 100%;
}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Inter", "Salesforce Sans", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}